@use '@/styles/mixins.scss' as *;

.hero {
  position: relative;
  margin-top: calc(-1 * (var(--header-height) + var(--spacing-6)));
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-top: calc(var(--header-height) + var(--spacing-16));
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-bottom: var(--spacing-8);
  @include flex-column;
  align-items: center;
  gap: var(--spacing-12);
  min-height: 600px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  @include md {
    margin-top: calc(-1 * (var(--header-height) + var(--spacing-4)));
    padding-top: calc(var(--header-height) + var(--spacing-8));
    padding-left: var(--spacing-5);
    padding-right: var(--spacing-5);
    padding-bottom: var(--spacing-6);
    gap: var(--spacing-8);
    min-height: 350px;
  }

  @include mobile {
    padding-top: calc(var(--header-height) + var(--spacing-6));
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    padding-bottom: var(--spacing-5);
    gap: var(--spacing-6);
    min-height: 300px;
  }
}

.heroContent {
  position: relative;
  z-index: 1;
  @include flex-column;
  align-items: center;
  gap: var(--spacing-6);
  text-align: center;

  @include mobile {
    gap: var(--spacing-4);
  }
}

.heroTitle {
  max-width: 600px;

  @include mobile {
    font-size: 28px;
    max-width: 100%;
  }
}

.heroButton {
  min-width: 200px;

  @include mobile {
    min-width: 160px;
  }
}
