@use '@/styles/mixins.scss' as *;

.confirmDeleteModal {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  &__description {
    color: var(--color-gray-600);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
