@use '@/styles/mixins.scss' as *;

.loginForm {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.links {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-2);
}
