@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.htmlRenderer {
  width: 100%;
  color: var(--color-text-primary);

  h1 {
    @include h1;
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-4);
  }

  h2 {
    @include h2;
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-4);
  }

  h3 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semibold);
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-3);
  }

  p {
    margin-bottom: var(--spacing-3);
    line-height: var(--line-height-150);
  }

  ul,
  ol {
    padding-left: var(--spacing-6);
    margin: var(--spacing-3) 0;
  }

  li {
    margin-top: var(--spacing-2);
  }

  a {
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-gray-200);
    margin: var(--spacing-8) 0;
  }
}
