@use '@/styles/mixins.scss' as *;

.section {
  padding: var(--spacing-10) 0 0 0;

  @include mobile {
    padding: var(--spacing-6) 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-4);
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: var(--spacing-4);
  }
}
