@use '@/styles/mixins.scss' as *;

$thumbnail-size: 20px;
$overlap-offset: -8px;

.photoStack {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    width: $thumbnail-size;
    height: $thumbnail-size;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--color-white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
      margin-left: $overlap-offset;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__overlay {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      filter: blur(2px);
    }
  }

  &__counter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include flex-center;

    background-color: rgba(0, 0, 0, 0.4);
    color: var(--color-white);
    font-size: 8px;
    font-weight: var(--font-weight-bold);
    line-height: 1;
  }
}
