@use '@/styles/mixins.scss' as *;

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: var(--radius-xl);
  background-color: #fff;
  border: 1px solid var(--input-border);
  transition: all 0.2s ease;
  gap: 16px;

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    min-width: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  &__name {
    font-weight: 500;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__category {
    color: var(--color-text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include mobile {
    padding: 12px;
    gap: 12px;

    &__content {
      gap: 10px;
    }
  }
}
