@use '@/styles/mixins.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-3);
}

.section_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.required {
  color: var(--color-danger);
  @include label-m;
}

.error {
  @include text-s-regular;
  color: var(--color-danger);
  margin-top: calc(var(--spacing-1) * -1);
}

.photoButton {
  align-self: flex-start;

  @include mobile {
    width: 100%;
  }
}

.section_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileInput {
  display: none;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: var(--spacing-2);
}

.grade {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 12px;
}

.adminFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-4);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.userField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.userSubtext {
  color: var(--color-text-secondary);
  padding-left: var(--input-padding-x);
}
