@use '@/styles/variables.scss' as *;

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--default {
    width: 20px;
    height: 20px;
  }

  &--small {
    width: 16px;
    height: 16px;
  }
}

.spinner__circle {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid currentColor;
  border-radius: var(--radius-full);
  border-top-color: transparent;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
