@use '@/styles/mixins' as *;

// Базовый класс для всех типографических элементов
.typography {
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

// Заголовки
:where(.h1) {
  @include h1;
}

:where(.h2) {
  @include h2;
}

:where(.h3) {
  @include h3;
}

:where(.h4) {
  @include h4;
}

:where(.h5) {
  @include h5;
}

// Текстовые стили
:where(.textLRegular) {
  @include text-l-regular;
}

:where(.textLMedium) {
  @include text-l-medium;
}

:where(.textMRegular) {
  @include text-m-regular;
}

:where(.textMMedium) {
  @include text-m-medium;
}

:where(.textS) {
  @include text-s-regular;
}

:where(.textXs) {
  @include text-xs-regular;
}

// Метки
:where(.labelM) {
  @include label-m;
}

:where(.labelS) {
  @include label-s;
}

:where(.labelXs) {
  @include label-xs;
}
