@use '@/styles/mixins.scss' as *;

.page {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-3);
}

.container {
  width: 100%;
}
