.emailSentModal {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  padding: var(--spacing-4) 0;

  &__message {
    text-align: center;
    color: var(--color-text-secondary);
  }
}
