@use '@/styles/mixins.scss' as *;

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @include md {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  &--noPadding {
    padding-left: 0;
    padding-right: 0;
  }
}
