@use '@/styles/mixins.scss' as *;

.topCompanies {
  display: flex;
  gap: var(--spacing-5);
  justify-content: center;

  @include tablet {
    gap: var(--spacing-4);
  }

  @include mobile {
    gap: var(--spacing-3);
  }
}
