@use '@/styles/mixins.scss' as *;

.embla {
  overflow: hidden;
  padding: 8px 0;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  margin-right: var(--spacing-5);

  @include tablet {
    margin-right: var(--spacing-4);
  }

  @include mobile {
    margin-right: var(--spacing-3);
  }
}
