@use '@/styles/mixins.scss' as *;

.profileFormSkeleton {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profileFormSkeleton__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileFormSkeleton__line {
  height: var(--input-height-lg);
  background: linear-gradient(
    90deg,
    var(--color-gray-100) 25%,
    var(--color-gray-200) 50%,
    var(--color-gray-100) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: var(--radius-lg);
}

.profileFormSkeleton__buttons {
  display: flex;
  gap: 12px;

  @include mobile {
    flex-direction: column;
  }
}

.profileFormSkeleton__button {
  height: var(--button-height-md);
  width: 160px;
  background: linear-gradient(
    90deg,
    var(--color-gray-100) 25%,
    var(--color-gray-200) 50%,
    var(--color-gray-100) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: var(--radius-md);

  @include mobile {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
