@use '@/styles/mixins.scss' as *;

.profileFormSkeleton {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.profileFormSkeleton__line {
  height: 56px;
  background: linear-gradient(
    90deg,
    var(--color-gray-100) 25%,
    var(--color-gray-200) 50%,
    var(--color-gray-100) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: var(--radius-md);
}

.profileFormSkeleton__buttons {
  display: flex;
  gap: var(--spacing-3);
  margin-top: var(--spacing-4);
}

.profileFormSkeleton__button {
  height: 40px;
  width: 160px;
  background: linear-gradient(
    90deg,
    var(--color-gray-100) 25%,
    var(--color-gray-200) 50%,
    var(--color-gray-100) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: var(--radius-md);
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
